<template name="passwordRecovery">
  {{#if resetPassword}}
    <form class="ui form" id="new-password" action="action">
      <div class="ui green top attached segment">
        <h4 class="ui header">Password Recovery</h4>
        <div class="field">
          <input class="ui fluid input" type="text" id="new-password-password">
        </div>
      </div>
      <button type="submit" class="ui bottom attached green fluid submit button">Change Password</button>
    </form>
  {{else}}
    <form class="ui form" id="recovery-form" action="action">
      <div class="ui green top attached segment">
        <h4 class="ui header">Password Recovery</h4>
        <div class="field">
          <input type="text" id="recovery-email" placeholder="Enter your email">              
        </div>
      </div>
      <button type="submit" class="ui bottom attached green fluid submit button">Send Reset Instructions</button>
    </form>
  {{/if}}
</template>