<template name="signin">
	<form class="ui form" id="signin-form">
		<div class="ui green top attached segment">
			<h4 class="ui header">Sign in below</h4>
			<div class="field">
				<input type="text" id="email" placeholder="Email">
			</div>
			<div class="required field">
				<div class="ui icon input">
					<input type="password" id="password" placeholder="Password">
					<i class="lock icon"></i>
				</div>
			</div>
		</div>
		<button type="submit" class="ui bottom attached green fluid submit button">Sign In</button>
		<p align="center">Don't have an account? <a href="/signup">Signup today!</a></p>
	</form>
</template>